    body {
        color: aliceblue;
        margin: 0px;
        padding: 0px;
        background: url('./gym1.jpg');
        font-family: cursive;
    }

    .left {
        display: inline-block;
        border: 2px solid rgb(251, 195, 8);
        position: absolute;
        left: 20px;
        top: 20px;
        font-family: cursive;
    }

    .left img {
        width: 94px;
        filter: invert(100%);
        font-family: cursive;
    }

    .left div {
        /* line-height: 19px; */
        /* font-size: 26px; */
        text-align: center;
        font-family: cursive;
    }

    .mid {
        display: block;
        width: 48%;
        margin: 20px auto;
        border: 2px solid rgb(7, 241, 42);
        font-family: cursive;
    }

    .right {
        position: absolute;
        right: 34px;
        top: 20px;
        display: inline-block;
        border: 2px solid rgb(233, 245, 7);
        font-family: cursive;
    }

    .navbar {
        display: inline-block;
        font-family: cursive;
    }

    .navbar li {
        font-size: 20px;
        display: inline-block;
        font-family: cursive;
    }

    .navbar li a {
        color: aliceblue;
        text-decoration: none;
        padding: 2px 17px;
        font-family: cursive;
    }

    .navbar li a:hover,.navbar li a:active {
        text-decoration: underline;
        color: gray;
        font-family: cursive;
    }

    .btn {
        margin: 10px 9px;
        background-color: black;
        color: aliceblue;
        padding: 4px 7px;
        border: 2px solid grey;
        border-radius: 7px;
        font-size: 15px;
        cursor: pointer;
        font-family: cursive;
    }

    .btn:hover {
        background-color: rgb(16, 4, 4);
    }

    .container {
        margin: 90px;
        padding: 15px 18px;
        width: 41%;
        border-radius: 21px;
        border: 2px solid white;
        font-family: cursive;
        text-align: center;
    }
    .form-group input{
    text-align: center;
    display: block;
    width: 211px;
    padding: 9px;
    border: 2px solid white;
    margin: 8px auto;
    font-size: 17px;
    border-radius: 20px;
    font-family: cursive;
    }
    .container button{
        display: block;
        width: 40%;
        margin: 2px auto;
        border-radius: 22px;
    }
